<html>
    <head>
        {% load static %}
        <title>About Us</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'icons8-gate-64.ico' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <header class="header">
            <a href="/home/" class="logo">Face Gate.</a>
            <nav class="navbar">  
                <a href="/home/" >Home</a>
                <a class="active" href="/home/about_us/">About Us</a>
                <a href="/home/contact_us/">Contact Us</a>      
            </nav>
        </header>
        
        <section class="aboutus">
            <div class="aboutus-content">
                <h1>About Us</h1><hr>
                <p> At FaceGate, we recognize the paramount importance of data security in today's digital landscape. 
                    In the past, accessing company resources was too straightforward, compromising the security and integrity of sensitive information. 
                    Additionally, time tracking was often fraught with discrepancies for both employers and employees, leading to inefficiencies and disputes. </p><br>
                   
                   
                   <p> With FaceGate, we revolutionize this process by ensuring that every access point and time-related interaction is securely managed through facial recognition technology. 
                    Only registered users whose identities have been authenticated can access our services, guaranteeing a high level of security. 
                    This streamlined approach not only secures data but also facilitates fair and efficient time management. 
                    Employees can easily plan vacations or report sick days without needing direct human intervention, simplifying administrative processes and enhancing overall workplace harmony. </p><br>
                  
            </div>
            <div class="home-sci">
                <a href="https://facebook.com"><i class='bx bxl-facebook' ></i></a>
                <a href="https://twitter.com"><i class='bx bxl-twitter' ></i></a>
                <a href="https://de.linkedin.com"><i class='bx bxl-linkedin' ></i></a>
            </div>
            
        </section>
            
            
   

    </body>
</html>