<html>
    <head>
        {% load static %}
        <title>403 - Forbidden Access</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '403.css' %}">
    <link rel="icon" href="{% static 'icons8-gate-64.ico' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
<div class="maincontainer">
    <div class="bat">
      <img class="wing leftwing" 
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
      <img class="body"
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
      <img class="wing rightwing"
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <div class="bat">
      <img class="wing leftwing" 
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
      <img class="body"
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
      <img class="wing rightwing"
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <div class="bat">
      <img class="wing leftwing" 
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
      <img class="body"
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
      <img class="wing rightwing"
           src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
    </div>
    <img class="foregroundimg" src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/HauntedHouseForeground.png" alt="haunted house">
    
  </div>
  <h1 class="errorcode">ERROR 403</h1>
  <div class="errortext">This area is forbidden. Turn back now!</div>
  </body>
  </html>